<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5">
    <Properties>
        <Property name="log.header">
            <![CDATA[
------------------------------------------------------------------------------------------------------------

    +#      ;      #+'        Application: FTP LOADER
   #+      #+#      #+
   ++++##.#####+'##+++#       Version: 1
  ++ #++ +++++++ #+#.#+
  '+   #,+++++++##,  ##
  ,+.   ++++++++#    +#
   +#    #+++++#    `+'
   #+     #++++     #+

-----------------------------------------------------------------------------------------------------------
			]]>

        </Property>
        <Property name="log.console.charset">cp1251</Property>
        <Property name="logs.path">C:/ftp</Property>
        <Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %10.10t %-30m [%-5p] [at %l]%n</Property>
        <Property name="log.rolling.file.size">30 MB</Property>
    </Properties>
    <Appenders>
        <Console name="console.out.appender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${log.pattern}" charset="${log.console.charset}" header="${log.header}"/>
            <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="console.err.appender" target="SYSTEM_ERR" follow="true">
            <PatternLayout pattern="${log.pattern}" charset="${log.console.charset}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <RollingFile name="file.log.appender"
                     fileName="${logs.path}/ftp-loader.log"
                     filePattern="${logs.path}/ftp-loader-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${log.pattern}" charset="${log.console.charset}" header="${log.header}"/>
            <SizeBasedTriggeringPolicy size="${log.rolling.file.size}"/>
        </RollingFile>

        <Async name="APPENDERS">
            <AppenderRef ref="console.out.appender"/>
            <AppenderRef ref="console.err.appender"/>
            <AppenderRef ref="file.log.appender"/>
        </Async>

    </Appenders>

    <!-- loggers -->

    <Loggers>

        <!--
            To output sql commands from hibernate, move to DEBUG level.
            Warning! Do not use it on production environment, this change
            can incredibly reduce system performance.
        -->

        <!-- Spring framework specified logging -->
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="file.log.appender"/>
        </Logger>

        <!-- application specified logging -->
        <Logger name="vg.ftp" level="INFO" additivity="false">
            <AppenderRef ref="APPENDERS"/>
        </Logger>

        <!-- Common logging -->
        <Root level="ERROR">
            <AppenderRef ref="file.log.appender"/>
        </Root>

    </Loggers>
</Configuration>
